
@model DLL.ViewModels.Attendance_VM
@{
    ViewData["Title"] = "Attendance";
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}

<div class="main-content">
    <div class="container">
        <div class="container-fluid">
            <!-- Zero configuration table -->
            <section id="configuration">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                    <h4 class="card-title">Attendance and departure request</h4>
                                </div>
                            </div>
                            <div class="card-body collapse show">
                                <div class="card-block card-dashboard">
                                    
                                    <div class="row">
                                        <div class="col container m-auto d-flex justify-content-center">
                                            <label>Show Date :</label>
                                            <input type="search" class="form-control form-control-sm w-50" placeholder="" aria-controls="DataTables_Table_0">
                                        </div>
                                        <div class="col container m-auto d-flex justify-content-center">
                                            <label>Employee Name :</label>
                                            <input type="search" class="form-control form-control-sm w-50" placeholder="" aria-controls="DataTables_Table_0">
                                        </div>


                                    </div>
                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Module.View(Modules.Attendance.ToString())).Result.Succeeded)
                                    {
                                        <table id="tblStudent" class="table table-striped table-bordered zero-configuration mt-40">

                                            <thead>
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Date </th>
                                                    <th class="text-center">Attendance date</th>
                                                    <th class="text-center">check-out date</th>
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Module.Delete(Modules.Attendance.ToString())).Result.Succeeded)
                                                    {
                                                        <th class="text-center">Action</th>}
                                                    </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>

                                        </table>}
                                </div>
                            </div>
                            @if (AuthorizationService.AuthorizeAsync(User, Permissions.Module.Create(Modules.Attendance.ToString())).Result.Succeeded)
                            {
                                <div class="card-header">
                                    <div class="card-title-wrap bar-success">
                                        <h4 class="card-title">Request A Form</h4>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="px-3">
                                        <form id="form" name="contact-form" asp-action="CreateAttendance" asp-controller="Home" class="form form-horizontal" data-ajax="true" data-ajax-method="POST">
                                            <div class="text-danger text-center" asp-validation-summary="All"></div>
                                            <div class="form-body">

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="EmployeeId">Employee Name : </label>
                                                    <div class="col-md-9">
                                                        <select id="EmployeeId" asp-for="EmployeeId" class="form-control">
                                                            <option value="-1">Choose Employee</option>
                                                            @foreach (var item in ViewBag.Employee)
                                                            {
                                                                <option class="form-control" value="@item.Id">@item.Name</option>
                                                            }

                                                        </select>
                                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="Date">Date: </label>
                                                    <div class="col-md-9">
                                                        <div class="position-relative has-icon-left">
                                                            <input type="date" id="Date" class="form-control" asp-for="Date">
                                                            <div class="form-control-position">
                                                                <i class="ft-message-square"></i>
                                                            </div>
                                                            <span asp-validation-for="Date" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" row">
                                                <div class="col-md-12">
                                                    <div class=" row form-group">
                                                        <label class="col-md-3 label-control">Start time: </label>
                                                        <div class="position-relative has-icon-left col-lg-9">
                                                            <input type="time" id="StartTime" class="form-control" asp-for="StartTime">
                                                            <div class="form-control-position">
                                                                <i class="ft-clock"></i>
                                                            </div>
                                                            <span asp-validation-for="StartTime" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class=" row form-group">
                                                        <label class="col-md-3 label-control">End time: </label>
                                                        <div class="position-relative has-icon-left col-lg-9">
                                                            <input type="time" id="EndTime" class="form-control" asp-for="EndTime">
                                                            <div class="form-control-position">
                                                                <i class="ft-clock"></i>
                                                            </div>
                                                        </div>
                                                        <span asp-validation-for="EndTime" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button type="button" class="btn btn-danger mr-1">
                                                    <a asp-action="Attendance" asp-controller="Home"><i class="icon-trash"></i> Cancel</a>
                                                </button>
                                                <button type="button" class="btn btn-success" onclick="Create()">
                                                    <i class="icon-note"></i> Save
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>}

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<script src="~/jquery/jquery.min.js"></script>
<script src="~/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@section Scripts  {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<script>
    $(document).ready(function () {
        LoadData();
    });
    function Create() {
        let EmployeeId = $("#EmployeeId").val();
        let EndTime = $("#EndTime").val();
        let Date = $("#Date").val();
        let StartTime = $("#StartTime").val();
        var attendance = {
            EmployeeId: EmployeeId,
            Date: Date,
            StartTime: StartTime,
            EndTime: EndTime,
        };
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "/Home/CreateAttendance",
            data: attendance,
            success: function (res) {
                if (res == true) {
                    swal("Success!", "You clicked the button!", "success").then((ok) => {
                        document.getElementById("form").reset();
                        LoadData();
                    });
                }
                else if (res == false) {
                    swal("Error!", "Data Not Valid!", "error");
                }
                else if (res == "date") {
                    swal("Error!", "This date already exists!", "error");
                }
            },
            error: function (res) {
                swal("Error!", " Cheack Your Date!", "error");
            }
        });
    };
    function LoadData() {
        $("#tblStudent tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '/Home/LoadDateAttendance',
            dataType: 'json',
            data: { id: '' },
            success: function (data) {
                console.log(data)
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                        + "<td id='empid' class='text-center'>" + item.employeeName + "</td>"
                        + "<td class='text-center'>" + item.date.substring(0, 10) + "</td>"
                        + "<td class='text-center'>" + item.startTimeSTr.substring(0, 8) + "</td>"
                        + "<td class='text-center'>" + item.endTimeStr.substring(0, 8) + "</td>"
                        + '@if (AuthorizationService.AuthorizeAsync(User, Permissions.Module.Delete(Modules.Attendance.ToString())).Result.Succeeded)
                            {<td class="text-center" ><a onclick="Delete(' + item.id + ')" class="btn btn-danger mb-2" asp-action="Delete" asp-controller="Home" asp-route-roleId="' + item.id + '">Delete</a></td >}'
                        + "</tr>";
                    $('#tblStudent tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }
    function Delete(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: 'POST',
                        url: '/Home/DeleteAttendance/' + id,
                        success: function (res) {
                            if (res) {
                                swal("Poof! Your imaginary file has been deleted!", {
                                    icon: "success",
                                });
                                LoadData();
                            }
                            else {
                                swal("Your imaginary file is safe!");
                            }
                        },
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    }
</script>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>

<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>