@page
@model ChangePasswordModel

@{
    Layout = "~/Views/Shared/_AccountLayOut.cshtml";
}

<div class="form">
    <div class="text-center">
        <img src="~/app-assets/img/logo.png">
    </div>
    <h2>Hr System Login </h2>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div class="inputBx password">

            <input id="password-input" type="password" asp-for="Input.OldPassword">
            <span>Password</span>
            <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
        </div>
        <div class="">
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="inputBx password">

            <input id="password-input-1" type="password" asp-for="Input.NewPassword">
            <span>Password</span>
            <a href="#" class="password-control" onclick="return show_hide_password_1(this);"></a>


        </div>
        <div class="">
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>

        <div class="inputBx password">

            <input id="password-input-2" type="password" asp-for="Input.ConfirmPassword">
            <span>Confirm Password</span>
            <a href="#" class="password-control" onclick="return show_hide_password_2(this);"></a>


        </div>
        <div class="">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="inputBx">
            <input type="submit" value="Change ">
        </div>
    </form>
</div>
@section DataTableSection{
    <script>
        function show_hide_password(target) {
            var input = document.getElementById('password-input');
            if (input.getAttribute('type') == 'password') {
                target.classList.add('view');
                input.setAttribute('type', 'text');
            } else {
                target.classList.remove('view');
                input.setAttribute('type', 'password');
            }
            return false;
        }
        function show_hide_password_1(target) {
            var input = document.getElementById('password-input-1');
            if (input.getAttribute('type') == 'password') {
                target.classList.add('view');
                input.setAttribute('type', 'text');
            } else {
                target.classList.remove('view');
                input.setAttribute('type', 'password');
            }
            return false;
        }
        function show_hide_password_2(target) {
            var input = document.getElementById('password-input-2');
            if (input.getAttribute('type') == 'password') {
                target.classList.add('view');
                input.setAttribute('type', 'text');
            } else {
                target.classList.remove('view');
                input.setAttribute('type', 'password');
            }
            return false;
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}



