@model DLL.ViewModel.User.UserViewModel
@{
    ViewData["Title"] = "Delete User";
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}

<div class="main-content">
    <div class="container">
        <div class="container-fluid">
            <!-- Zero configuration table -->
            <section id="configuration">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">


                            <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                    <h4 class="card-title">Add user </h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="px-3">
                                    <form class="form form-horizontal" asp-action="DeleteUser" asp-controller="User">
                                        <div class="text-danger text-center" asp-validation-summary="All"></div>
                                        <div class="form-body">
                                            <input type="hidden" id="Id" asp-for="Id">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="projectinput1"> Name : </label>
                                                <div class="col-md-9">
                                                    <input type="text" id="projectinput1" class="form-control" asp-for="FullName" disabled>

                                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="projectinput1">User Name : </label>
                                                <div class="col-md-9">
                                                    <input type="text" id="projectinput1" class="form-control" asp-for="UserName" disabled>

                                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="projectinput1">Email : </label>
                                                <div class="col-md-9">
                                                    <input type="text" id="projectinput1" class="form-control" asp-for="Email" disabled>

                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="projectinput2">Password: </label>
                                                <div class="col-md-9">
                                                    <input type="password" id="projectinput2" class="form-control" asp-for="Password" disabled>

                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="projectinput7">Group Name : </label>
                                                <div class="col-md-9">
                                                    <select id="projectinput7" class="form-control" asp-for="RoleId" asp-items="@(SelectList)ViewBag.rolesList" disabled>
                                                        <option value="Choose Department">Choose Department</option>
                                                    </select>

                                                    <span asp-validation-for="RoleId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="button" class="btn btn-success mr-1">
                                                <a asp-action="Index" asp-controller="User">Cancel</a>
                                            </button>
                                            <a onclick="DeleteUser()" class="btn btn-danger mb-2">Delete</a>

                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="~/jquery/jquery.min.js"></script>
<script src="~/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>

<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>

        function DeleteUser() {
            let Id = $("#Id").val();
            console.log(Id);
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
            type: "POST",
            url:"/User/DeleteUserPost/"+Id,
           // data: Id ,
            success: function (res) {
                if (res == true) {
                    swal("Success!", "You clicked the button!", "success").then((ok) => {
                        window.open("/User/Index");
                    });
                }
                else if (res == false) {
                    swal("Error!", "Data Not Valid!", "error");
                }
            },
            error: function (res) {
                swal("Error!", " Cheack Your Date!", "error");
            }
        });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    }
</script>
